#Data Types and structures
1.What are data structures and why are they important?
>-A container that organizes and groups data by type.Data structures are important because the way of organising data can be accessed and manipulated easily.it also helps in processing and storing large amount of data efficiently.

2.explain the difference between mutable and immutable data types with examples.
>-The mutable data types can be modified after creation meanwhile the immutable data types cannot be changed.eg:

In [ ]:
#1.mutable:Lists
my_list=[1,2,3]
my_list[0]=4
print(my_list)

[4, 2, 3]

In [ ]:
#2.immutable:strings
my_string="hello"
my_string[0]="H"
print(my_string) #shows error..

TypeError: 'str' object does not support item assignment

3.What are the main difference between lists and tuples in python?
>-Lists are mutable,whereas tuples are immutable.Lists also have more methods of modification,whereas tuples are more memory efficient.

4.Describe how dictionaries store data.
>-Dictionaries store data as key value pairs,where each key is unique and maps a specific value.They use hash tables for efficient lookup,insertion and deletion.

5.Why might you use a set instead of list in python?
>-Sets are used when you need to store unique elements,and the order of elements doesn't matter.They provide faster lookup,insertion and deletion operations compared to lists.

6.What is a string in python,and how is it different from a list?
>-A string is an immutable sequence of characters.Unlike lists,strings are immutable and their elements are characters, not arbitrary objects.

7.How do tuples ensure data integrity in python?
>-Tuples ensure data integrity by being immutable,which means their contents cannot be modified after creation.

8.What is hash tables, and how does it relate to dictionaries in python?
>-A hash table is a data structure that stores key value pairs using a hash function.In python,Dictionaries use hash tables internally to provide efficient lookup,insertion and deletion operations.

9.Can lists contain different data types in python?
>-Yes,lists can contain different data types,including strings,integers,floats and other lists.

10.Explain why strings are immutable in python?
>-Strings are immutable in python because immutabilty ensures strings can be safely shared between different parts of the program without worrying about one part modifying the string unexpectedly.

11.What advantages do dictionaries offer over lists for certain tasks?
>-Dictionaries provides faster lookup,insertion and deletion operations compared to lists especially for large datasets.they also provide more convienient way to store and access data using key-values pairs.

12.Describe a scenario where using a tuple would preferable over a list.
>-When you need to store a small,fixed-size collection of immutable data,such as a point in 2D space (x,y) or a date (year,month,day),Using a tuple would be more preferable than a list.

13.How do sets value duplicate value in python?
>-Sets automatically eliminate duplicate values ensuring that each element in the set is unique.

14.How does the 'in' keyword work differently for lists and dictionaries?
>-For lists,the 'in' keyword checks if a value is present in the list.For the dictionaries,the 'in' keyword checks if a key is present in the dictionary.

15.Can you modify the elements of a tuple?
>-No,the elements in a tuples cannot be modified/changed because they immutable.

16.What is a nested dictionary,and give an example of its use case.
>-A nest dictionary is dictionary that contains another dictionary as it's value.example use case:Storing student information,Where each student has a dictionary containing their name,age and grade.

17.Describe the time complexity of accessing elements in a dictionary.
>-The average time complexity of accessing elements in a dictionary is 0(1),making it very efficient for lookup operations.

18.In what situations are lists preferred over dictionaries?
>-Lists are preferred when ou need to store a collection of data that requires indexing,slicingor modifying the order of elements.

19.Why are dictionaries considered unordered,and how does that affect data retrieval?
>-Dictionaries are considered unordered because the order of the key-value pairs is not guaranteed.This affects data retrieval because you cannot rely on the order of elements when iterating over a dictionary.

20.Explain difference between list and dictionary in terms of data retrieval.
>-Lists allow data retrival using indexing.

In [ ]:
#eg:
my_list=[1,2,3]
print(my_list[0])

1

>or slicing.

In [ ]:
#eg:
my_list=[1,2,3,4,5]
print(my_list[1:4])

[2, 3, 4]

>-Dictionaries allow data retrieval using key lookup.

In [ ]:
#eg:
my_dict={"name":"John","age":30,"city":"New York"}
print(my_dict["name"])

John

#Practical Questions
1.Write a code to create a string with yout name and print it.

In [ ]:
name=input("enter your name:")
print(name)

enter your name:Anand Rajeev
Anand Rajeev

2.Write a code to find the length of the string "Hello World".

In [ ]:
string="Hello World"
length=len(string)
print(length)

11

3.Write a code to slice the first 3 characters from the string "python programming".

In [ ]:
string="python programming"
sliced_string=string[:3]
print(sliced_string)

pyt

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
string="hello"
uppercase_string=string.upper()
print(uppercase_string)

HELLO

5.Write a code to replace a code replace a word "apple" with "orange" in the string "I like apple".

In [ ]:
string="I like apple"
replaced_string=string.replace("apple","orange")
print(replaced_string)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num=list(range(1,6))
print(num)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
num=[1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
num=[1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a','b','c','d'].

In [ ]:
let=['a','b','c','d']
second_element=let[1]
print(second_element)

b

10.Write a code to reverse the list [10,20,30,40,50].

In [ ]:
num=[10,20,30,40,50]
reversed_num=num[::-1]
print(reversed_num)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with elements 10,20,30 and print it.

In [ ]:
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

12.Write a code to access the first element of the tuple ('apple','banana','cherry').

In [ ]:
my_tup=('apple','banana','cherry')
first_element=my_tup[0]
print(first_element)

apple

13.Count how many times the number 2 appears in the tuple (1,2,3,2,4,2).

In [ ]:
my_tup=(1,2,3,2,4,2)
print(my_tup.count(2))

3

14.Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [ ]:
my_tup=('dog','cat','rabbit')
print(my_tup.index('cat'))

1

15.Write a code to check if the element 'banana' is in the tuple ('apple',orange','banana').

In [ ]:
my_tup=('apple','orange','banana')
print('banana' in my_tup)

True

16.Write a code to create a set with elements 1,2,3,4,5 and print it.

In [ ]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

17.Write a code to add the element 6 to the set {1,2,3,4}.

In [ ]:
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18.Write a code create a tuple with elements 10,20,30 and print it.

In [ ]:
my_tup=(10,20,30)
print(my_tup)

(10, 20, 30)

19.Write a code to access the first element of the tuple ('apple','banana','cherry').

In [ ]:
my_tup=('apple','banana','cherry')
first_element=my_tup[0]
print(first_element)

apple

20.Write a code to count how many times the number 2 appears in tuple (1,2,3,2,4,2).

In [ ]:
my_tup=(1,2,3,2,4,2)
print(my_tup.count(2))

3

21.Write a code to find the indes of the element 'cat' in the tuple ('dog','cat','rabbit).

In [ ]:
my_tup=('dog','cat','rabbit')
print(my_tup.index('cat'))

1

22.Write a code to check if the element banana is in the tuple ('apple',orange','banana').

In [ ]:
my_tup=('apple','orange','banana')
print('banana' in my_tup)

True

23.write a code to create a set with elements 1,2,3,4,5 and print it.

In [ ]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

24.Write a code to add the element 6 to the set {1,2,3,4}.

In [ ]:
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}